__pycache__/
*.py[cod]
*$py.class
*.pyc

db.sqlite3

media/
staticfiles/

.venv/
venv/

.vscode/

.env

.ruff_cache/

**/docs/docs_base
.agents/

.pytest_cache/
.coverage
htmlcov/

.mypy_cache

.local/